.footerContainer {
  z-index: 2;
  width: 100%;
  color: #7c7d7f;
  position: relative;
  background: #242729;
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
}
.footerBox {
  display: flex;
  color: white;
  padding: 3rem 0;
  letter-spacing: 1px;
  flex-direction: row;
  justify-content: space-around;
}
.footLogo {
  width: 15vw;
}
.footBox3 {
  width: 25%;
}
.footDetail {
  font-size: 1vw;
  color: #7c7d7f;
  letter-spacing: 0;
}
.inptBox {
  position: relative;
}
.footInput {
  width: 100%;
  border: none;
  outline: none;
  color: white;
  transition: 0.2s;
  border-radius: 5px;
  padding: 0.78vw 1vw;
  background-color: #3a3d3e;
}
.planeIcon {
  top: 50%;
  left: 92%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.footOption1 {
  color: gold;
  cursor: pointer;
  font-size: 1.5vw;
  font-family: Raleway;
}
.footInput:hover {
  box-shadow: 0 0 15px -3px black;
}
.footBox1 {
  display: flex;
  flex-direction: column;
}
.socialRow {
  display: flex;
  margin-top: 2vw;
  align-items: center;
}
.socialFootIcon {
  font-size: 3vw;
  cursor: pointer;
  color: #ebd300;
  transition: 0.3s;
}
.sociala {
  margin-right: 1vw;
}
.socialFootIcon:hover {
  transform: scale(1.1);
}
.footerBottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.BottomBox {
  width: 30%;
  display: flex;
}
.footOption {
  cursor: pointer;
  font-family: Raleway;
}
.footOption:hover {
  color: yellow;
}
.footerBottom p {
  margin: 0;
}
.footerBottom p:hover {
  color: gainsboro;
}
.tos {
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .footLogo {
    width: 12vw;
  }
  .footerContainer {
    font-weight: 500;
  }
  .footerBox {
    padding: 3vw;
    justify-content: space-between;
  }
  .footBox3 {
    width: 35%;
  }
  .footDetail {
    margin: 0;
    font-size: 2vw;
  }
  .footerCard {
    width: 15vw;
    object-fit: contain;
  }
  .footerBottom {
    display: flex;
    padding: 0 1vw;
    font-size: 1.5vw;
    align-items: center;
    justify-content: space-between;
  }
  .footInput {
    padding: 1.5vw;
    font-size: 2vw;
  }
}

@media screen and (max-width: 560px) {
  .footBox3 {
    width: 40%;
  }
  .footOption {
    margin: 0;
    font-size: 3vw;
    margin-bottom: 3px;
    font-family: sans-serif;
  }
  .socialFootIcon {
    font-size: 5vw;
  }
  .footerBottom {
    margin-top: 1vw;
    font-size: 2.3vw;
    padding-bottom: 5px;
  }
  .footOption1 {
    margin: 0;
    color: gold;
    font-size: 3vw;
    margin-bottom: 3px;
    font-family: sans-serif;
  }
  .footerBottom p {
    margin: 0;
    font-size: 2vw;
  }
  .footerCard {
    width: 20vw;
  }
  .footLogo {
    width: 17vw;
    object-fit: contain;
  }
  .planeIcon {
    top: 55%;
    left: 92%;
    font-size: 3vw;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}
